{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hopital Jean Macé</h1>
    <a class="navbar-brand" href="#">
            <img src="img\hopitalfacade.jpg" class="img-fluid" alt="Responsive image">
            </a>

    
</div>
<div class="jumbotron">
  <h1 class="display-10">Bienvenue à toi sur le site de l'hopital Jean Macé</h1>
  <p class="lead">Cette hopital est situé dans le quartier Nord de Roubaix, pour pouvoir nous contacter tel : 03 46 75 24 11 / email : jeanmace@gmail.com</p>
  <hr class="my-4">
  <p>Pour plus d'informations </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Cliquer</a>
  </p>
</div>
{% endblock %}
